# Ambientes Python e Lixos
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Pastas Pesadas do Dataset (NÃO ENVIAR AO GITHUB)
plantvillage/
jamestown_dataset/
jamestown_split/

# Modelos treinados (Se ficarem mt grandes)
*.h5
*.keras