# --- Python / Ambientes Virtuais ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# --- Modelos de IA e Datasets (Pesados) ---
*.h5
*.keras
*.pickle
*.joblib
dataset/
downloads/

# --- Docker / Airflow ---
# Ignora logs e dados persistentes do Airflow
logs/
airflow.db
*.log
airflow-webserver.pid
airflow-scheduler.pid
airflow-worker.pid

# --- Node.js / Secure DevOps ---
node_modules/
npm-debug.log

# --- Arquivos de Sistema e IDE ---
.vscode/
.DS_Store
Thumbs.db

# --- Senhas e Segredos (Segurança Máxima) ---
*.env
.env.*
! .env.example

# Ambientes Virtuais e Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Arquivos de Configuração e Senhas (MUITO IMPORTANTE)
.env
*.pem
*.key

# Pastas geradas pelo Apache Airflow / Docker
logs/
plugins/
airflow-webserver.pid
airflow-webserver.err
airflow-webserver.out

# Arquivos de Dados Temporários do Pipeline
# Ignoramos o arquivo limpo gerado no meio do processo, mas 
# mantemos os mocks originais (.csv e .json) para a equipe testar
dags/clean_data.csv
data/clean_data.csv

# Arquivos de Sistema Operacional (Windows/Mac)
.DS_Store
Thumbs.db
Thumbs.db.md

.env

# Ambientes Virtuais e Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Arquivos de Configuração e Senhas (MUITO IMPORTANTE)
.env
*.pem
*.key

# Pastas geradas pelo Apache Airflow / Docker
logs/
plugins/
airflow-webserver.pid
airflow-webserver.err
airflow-webserver.out

# Arquivos de Dados Temporários do Pipeline
# Ignoramos o arquivo limpo gerado no meio do processo, mas 
# mantemos os mocks originais (.csv e .json) para a equipe testar
dags/clean_data.csv
data/clean_data.csv

# Arquivos de Sistema Operacional (Windows/Mac)
.DS_Store
Thumbs.db
Thumbs.db.md

# Ambientes Python e Lixos
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Pastas Pesadas do Dataset (NÃO ENVIAR AO GITHUB)
plantvillage/
jamestown_dataset/
jamestown_split/

# Modelos treinados (Se ficarem mt grandes)
*.h5
*.keras